@model IEnumerable<StoreOfBuild.Web.ViewsModels.ProductViewModel>
@{
    ViewData["Title"] = "Product";
}

<div class="row header">
    <div class="col-md-12">
        <h3>Products</h3>
        <a href="/Product/CreateOrEdit" class="btn btn-primary">New</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>
                        <p class="name">Name</p>
                    </td>
                    <td>
                        <p class="name">Category Name</p>
                    </td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @if(@Model != null)
                {
                    foreach(var viewModel in @Model)
                    {
                        <tr>
                            <td>
                                <a class="name">@viewModel.Name</a>
                            </td>
                            <td>
                                <a class="name">@viewModel.CategoryName</a>
                            </td>
                            <td>
                                [NOT IMPLEMENTED]
                                <a href="/Product/CreateOrEdit/@viewModel.Id" class="btn btn-default">Edit</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>




