@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to Store of Build</h1>
    <br>
    <span>This project was developed to trainning of .NET CORE MVC With DDD Infrastruture</span>
</div>
